* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.9);
}

button {
    border-radius: 15px;
    border: 2px solid #333333;
    background-color: #111111;
    margin: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:hover {
    border-color: #a6e3a1;
    background-color: #1e1e2e;
}

#lock {
  background-image: image(
    url("./icons/lock.svg"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("./icons/logout.svg"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("./icons/suspend.svg"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.svg"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.svg"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.svg"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
